/* Trending and Search results display */

.custom-trending-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-items: center;
}

.custom-trending-container div {
  box-shadow: 0px 0px 0px 0px #afaeae;
  border: none;
}

.custom-trending-container div:hover {
  cursor: pointer;
}

.custom-trending-container div:hover img {
  transform: scale(.97);
}

/* Pagination custom color */

.pagination > li > a
{
    background-color: #fff;
    color: #212529;
}

.pagination > li > a:focus {
  color: #212529;
  background-color: #fff;
  box-shadow: none !important;
}


.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > span:hover
{
    color: #fff;
    background-color: #565e64;
    border-color: #565e64;
    box-shadow: none !important;
}

.pagination > .active > a
{
    color: #fff;
    background-color: #565e64 !important;
    border: solid 1px #565e64 !important;
}

.pagination > .active > a:hover
{
    color: #fff !important;
    background-color: #565e64;
    border: solid 1px #565e64;
}


/* DETAILED PAGE */

.crop {
  display: block;
    height: 197px;
    position: relative;
    overflow: hidden;
}

.crop-img {
  position: absolute;
  top: -33px;
}

/* Trailer play button */
.videos-cover {
  z-index: 1;
}

.videos-cover:hover {
  cursor: pointer;
  background-color: #565e64;
}

.videos-cover:hover i {
  cursor: pointer;
  color: #77c8cf;
}

.bi-play-circle {
  position: absolute;
  top: 88px;
  left: 160px;
  color: #f1f1f1;
  font-size: 3rem;
}

/* Poster */

.custom-poster:hover img {
  cursor: pointer;
  transform: scale(.97);
}

/* Media Tabs */

.nav-item:first-child {
  margin-right: 2px !important;
}

.tabtitle {
  font-size: 1.6rem !important;
  color: #fff !important;
  font-weight: 500 !important;
  
}

.customtab {
  font-size: 1.1rem;
  color: #fff !important;
  font-weight: 700 !important;
  align-self: center !important;
  box-shadow: 0px 0px 4px 2px #afaeae !important;
  border-radius: 18px !important;
}

.customtab:hover {
  transform: scale(.97) !important;
}

.nav-item {
  margin-right: 16px !important;
  align-self: center !important;
}

.nav-link.active {
  background-color: initial !important;
  border: 2px solid #f9f9f9 !important;
}


/* ACTOR PAGE */

.tabtitle-actor {
  font-size: 2rem !important;
  color: #212529 !important;
  font-weight: 500 !important;
  
}

.customtab-actor {
  font-size: 1.1rem;
  color: #000 !important;
  font-weight: 700 !important;
  align-self: center !important;
  box-shadow: 0px 0px 4px 2px #afaeae !important;
  border-radius: 18px !important;
}

.customtab-actor:hover {
  transform: scale(.97) !important;
}

.customtab-actor.active {
  border: 2px solid #212529 !important;
}